
.list-view {

    -fx-accent: #004d40;
    -fx-focus-color: #004d40;
}
.list-view .list-cell:selected
{
    -fx-background-color: #004d40;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}


/* The main scrollbar **track** CSS class  */
.list-view .scroll-bar:horizontal .track, .list-view .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.list-view .scroll-bar:horizontal .increment-button ,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.list-view .scroll-bar:vertical .increment-button ,
.list-view .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color:#004d40;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}
.web-view .scroll-bar:horizontal .thumb,
.web-view .scroll-bar:vertical .thumb {
    -fx-background-color:#004d40;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}
.web-view .scroll-bar .increment-arrow,
.web-view .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}
.web-view .scroll-bar:horizontal .track, .list-view .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.web-view .scroll-bar:horizontal .increment-button ,
.web-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.web-view .scroll-bar:vertical .increment-button ,
.web-view .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

